<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <loaders>
    <loader name="YAL" filename="loader.dol" author="Kwiirk" modder="WiiCrazy" DiscIDPlaceHolder="" supportsRegionOverride="false" supportsVideoModeForce="false" supportsVerboseOutput="false">      
    </loader>
    <loader name="USB Loader 1.1" filename="usb11loader.dol" author="Waninkoko" modder="????" DiscIDPlaceHolder="" supportsRegionOverride="false" supportsVideoModeForce="false" supportsVerboseOutput="false">
    </loader>
  </loaders>
</configuration>
